/* resources/css/app.css */

/* Importer les styles de base de Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Styles personnalisés pour la page index */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Ajouter une barre rouge à l'en-tête */
header {
    background-color: #980101; /* Rouge */
    color: #fff; /* Texte blanc sur fond rouge */
    padding: 10px;
}

/* Ajouter une barre rouge au pied de page */
footer {
    background-color: #980101; /* Rouge */
    color: #fff; /* Texte blanc sur fond rouge */
    padding: 10px;
    text-align: center; /* Centrer le texte dans le footer */
}

/* Centrer les images */
.game-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto; /* Centrer l'image horizontalement */
    display: block; /* Permet de définir les marges automatiques */
}

.btn-game {
    background-color: #980101;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
